/*This stylesheet contains some custom class rather than Bootstrap*/

.navbar .btn-navbar {
    float: right;
    padding: 25px !important;
    margin-bottom: 5px;
    color: #ffffff;
    background-color: #39D084;
}
.navbar .nav {
    margin: 0 auto !important;
    padding: 0;
    margin-left: 16% !important;
}
.navbar-inner {
    background-color: #2E3D49;
    color:grey;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #C0C0C9;
    padding-left: 0;
    padding-top: 0 !important;
}
.nav li {
    margin: 15px 20px !important;
}
.navbar .nav > li > a {
    color: grey;
    padding: 6px 15px 6px;
}
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover, .navbar .nav > li > a.active {
    background-color: grey;
    color: #fff;
    text-decoration: none;
}
/*section header*/

.container {
    margin: 0 auto;
    width: 90% !important:
}

h1 {
    font-size: 1.5em;
}
.header_name {
    font-size: 4em;
}
.header_arrow {
    padding: 10px;
    color: #39d084;
}

/*section header ends*/


/***** Profile *****/

.profile, .skills, .work, .resume {
    /*padding: 30px 0;*/
}
.profile h2, .skills h2, .work h2, .resume h2, .blog_title {
    font-weight: normal;
    color: #39D084;
}
.profile h1 {
    color: #39d084;
    font-weight: normal;
}
.profile h3 {
    color: #fff;
    font-weight: normal;
}
.profile p {
    color: #fff;
    font-size: 18px;
    line-height: 35px;
    margin-top: 30px;
}
.profile .container .span5 {
    padding:40px 20px;
    font-size: 1.5em;
}
.profile_image {
    border-radius: 50%;
    margin-left: 0;
    width:150px;
    height: 150px;
    text-align: left;
    border: 5px solid lightgrey;
}
.section_profile {
    min-height: 550px;
    padding-top: 60px;
    padding-bottom: 40px;
    color:grey;
    height: auto;
    margin-top: -20px !important;
}
.section_profile h3 {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 2em;
}
.section_profile h1, h2 {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 3em;
    color:grey;
    font-weight: bold;
}
.section_profile h2 {
    font-size:2.5em;
}
.section_portfolio {
    background-color: white !important;
    width: 100%;
    padding: 0;
    padding-top: 60px !important;
    margin: 0;
    color: grey;
}
.profContainer {
    padding-top: 80px !important;
}
.section_resume {
        background: #FAFAFA;
        color: grey;
}
.project-image {
    border: 1px solid lightgrey;
}
a.hire-me {
    display: inline-block;
    *display: inline;
    padding: 10px 60px;
    background: #39d084;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}
a.hire-me:hover {
    text-decoration: none;
    background: #11d170;
}

/*section profile ends*/


/**** Work container *****/

ul.work-images li {
    list-style: none;
    display: inline-block;
    margin: 8px 10px;
    background:
}
ul.work-images li:first-child {
    margin-left: 0;
}
ul.work-images li div {
    background: url(../img/eye.png) 50% 50% no-repeat;
    background-color: #2c3e50;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
ul.work-images li img {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
ul.work-images li img:hover {
    opacity: 0.3;
}
ul.work-images li div.work-div {
    background: url(../img/eye.png) 50% 50% no-repeat;
    background-color: transparent;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
ul.work-images li div {
    background-color: transparent;
    background: none;
}

/***** social media icons *****/

div.row.social {
    text-align: center;
    padding-bottom: 20px;
    margin-left: 15px !important;
}
ul.social-icons {
    margin:0;
    padding-left: -20px !important;
}
ul.social-icons li {
    list-style: none;
    display: inline-block;
    margin: 10px;
    margin-left:0;
}
ul.social-icons li:first-child {
    margin-left: 0;
}
ul.social-icons li a {
    opacity: 0.8;
}
ul.social-icons li a:hover {
    opacity: 1;
}
.resume h3 {
    margin: 60px 0;
}
.resume .btn-center {
    text-align: center;
}
.github {
    color: #000000;
}
.linkedin {
    color: #007bb5;
}
.stackoverflow {
    color: #fe7a15;
}
.twitter {
    color: #55acee;
}

/*social media icons end*/

.blog_title {
    margin-top: 40px;
    margin-bottom: 40px;
}
.blog {
    margin: 40px;
}
.row {
    margin-left: 50px;
}
.col-xs-3 {
    padding: 20px;
    margin: 0;
    width: 20%;
    float: left;
    clear: right;
}
.span4 {
    padding-right: 0 !important;
}

/*footer begins*/

.footer {
    background: grey;
    width: 100%;
    bottom: 0;
}
.footer p {
    margin: 20px 0;
}
.footer p a {
    color: #fff;
    text-decoration: none;
}
.footer p a:hover {
    color: #39d084;
}
.goto-top {
    display: none;
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 10px;
    right: 20px;
    padding-top: 10px;
    padding: 10px;
    border: none;
    background-color: lightgrey;
    /*border-radius: 50%;*/
}
.fa-chevron-up {
    color: #39d084;
}
.sticky {
    display: block !important;
}
.contact {
    float: left !important;
}
/*footer ends*/

@media only screen and (min-width: 768px) {
    .profContainer {
        padding-top: 0px !important;
    }
    .section_cover {
        padding-top: 60px;
        background: white;
    }
    .cover_header {
        margin-top: 100px;
    }
    .chevron {
        margin-top: 60px;
    }
    h1 {
        font-size: 3em;
    }
    .contact {
        float: right !important;
    }
    #profile p {
        font-size: 2em !important;
        line-height: 1.2;
        font-family: sans-serif;
    }
    .about-main {

    }
}
